<div class="new-container">
  <div class="mine-wrapper">
    <div class="new-title">
      使い方
    </div>
    <div class="how-box">
      <div class="how-title">基本情報</div>
      <div class="how-main">
        Karakaraはポケットモンスターソード＆シールドに対応しています。ポケモンのレベルは50、個体値はHP、防御、特防は31で固定です。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">計算</div>
      <div class="how-main">
        各項目を選択したときに、自動で計算されます。通信環境によっては計算結果が表示されない場合があります。その時は『結果』はクリックしていただけると再度計算が行われます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">ポケモン</div>
      <div class="how-main">
        ポケモンを検索するときは平仮名もしくはカタカナで入力してください。選択するとポケモンの種族値、技、特性がセットされます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">努力値</div>
      <div class="how-main">
        努力値を入力すると実数値、ダメージが計算されます。半角数字で入力してください。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">個体値</div>
      <div class="how-main">
        攻撃、特攻のみ個体値を入力でき、入力すると実数値、ダメージが計算されます。半角数字で入力してください。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">性格補正</div>
      <div class="how-main">
        0.9倍,1.0倍,1.1倍の3つから三択できます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">ランク</div>
      <div class="how-main">
        ランクを１３段階で選択できます。特性『てんねん』,急所により無効になる場合があります。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">持ち物</div>
      <div class="how-main">
        対戦で使われている頻度が高い道具を選択できます。『しんかのきせき』は全てのポケモンで選択することができてしまいます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">技</div>
      <div class="how-main">
        そのポケモンが使える攻撃技から選択できます。追加効果のある技は効果が発動されるか選択できます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">特性</div>
      <div class="how-main">
        一部の特性は特性を発動するか選択できます。また発動条件を満たしている時は自動で計算されます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">条件</div>
      <div class="how-main">
        その他の条件を攻撃側、防御側から選択できます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">対戦形式</div>
      <div class="how-main">
        シングルバトル、ダブルバトルのどちらかを選択できます。ダブルバトルを選択した場合、条件の選択肢が増えます。また技によっては、対象を単数か複数か選択できるようになります。リフレクター 、光のかべの軽減率が1/3になります。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">天候</div>
      <div class="how-main">
        天候によって発動する特性などが自動で計算されます。場に特性『ノーてんき』を持つポケモンがいる場合は天候による効果が無効化されます。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">フィールド</div>
      <div class="how-main">
        飛行タイプ、特性『ふゆう』のポケモンには影響しません。
      </div>
    </div>
    <div class="how-box">
      <div class="how-title">ダイマックス</div>
      <div class="how-main">
        『攻撃』,『防御』をクリックするとそれぞれのポケモンがダイマックス状態として計算を行います。
      </div>
    </div>
    <div class="new-title new-title-mitaiou">
      バージョン履歴
    </div>
    <div class="how-box">
      <div class="how-title">2020/3/6</div>
      <div class="how-main">
        リリース
      </div>
    </div>
  </div>
</div>
