<div class="wrapper">
  <div id="right-poke" class="poke">
    <div class="poke-title">
      <div class="kougeki">攻撃</div>
      <div class="poke-btns">
        <div class="btn btn-pre">保存</div>
        <div class="btn btn-use">呼出</div>
      </div>
    </div>
    <div class="poke-form">
   </div>
  </div>
  <div id="center">
  　
  </div>
  <div id="left-poke" class="poke">
    <div class="poke-title">
      <div class="bougyo">防御</div>
      <div class="poke-btns">
        <div class="btn btn-pre">保存</div>
        <div class="btn btn-use">呼出</div>
      </div>
    </div>
  </div>
</div>
