/* 共通のデザイン */

body {
  height: auto;
  margin: 0;
  padding-bottom: 150px;
  font-family: serif;
  color: #555555;
  background: -moz-linear-gradient(top, #FFF, #d4ecff);
  background: -webkit-linear-gradient(top, #FFF, #d4ecff);
  background: linear-gradient(to bottom right, #FFF, #d4ecff);
}

a {
  text-decoration: none;
  color: #555555;
}

.container {
  padding: 85px 3.8% 0 3.8%;
}

.modal-close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  background-color: transparent;
}

.btn {
  padding: 2px 5px;
  border-radius: 4px;
  border: solid 0.5px #dddddd;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  box-sizing: border-box;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select::-ms-expand {
	display: none;
}

select {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  border-radius: 0;
  border: 0;
  font-size: 20px;
  font-family: serif;
  color: #555555;
	background-color: transparent;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.convey {
  display: none;
}

.group-color {
  color: #1da37b;
}

.group-color-a {
  color: #1da37b;
}

.group-color-c {
  color: #555555;
}

.flash-box {
  position: fixed;
  top: 3%;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 50;
}

.flash {
  padding: 10px 120px;
  border-radius: 5px;
  display: inline-block;
  color: #333333;
  margin: 0 auto;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}

.success {
  background-color: #b0ffad;
  border: solid 1px #3dff6a;
}

.fale {
  background-color: #ff8c8c;
  border: solid 1px #ff3029;
}

/* 1000px以上 */

  /* ヘッダー */
  header {
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    cursor: default;
    box-sizing: border-box;
  }

  .header-left {
    width: 48%;
    position: relative;
    top: -4px;
    display: inline-block;
  }

  .header-right {
    width: 48.5%;
    height: 60px;
    display: inline-block;
    text-align: right;
    font-size: 0;
  }

  .btn-header {
    height: auto;
    padding: 20px 20px 14px;
    display: inline-block;
    font-size: 20px;
    background-color: rgba(0,0,0,0);
    color: #555555;
    transition: all 1.3s;
    cursor: pointer;
  }

  .title {
    margin-left: 50px;
  }

  .login, .logout {
    position: relative;
    top: -4px;
  }

  .btn-menu {
    padding-top: 14px;
    padding-bottom: 0;
    height: 46px;
    margin-right: 50px;
    position: relative;
    top: -6px;
  }

  .btn-header:hover {
    background-color: rgba(0,0,0,0.07);
  }

  .nav-modal {
    width: 100%;
    background-color: #eeeeee;
    display: none;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    position: relative;
    top: -6px;
  }

  .nav-open {
    background-color: #eeeeee;
  }

  .nav-open:hover {
    background-color: #eeeeee;
  }

  .nav-modal .logout {
    display: block;
    padding: 5px 0 5px 20px;
    position: static;
  }

  .nav-modal .login {
    display: block;
    padding: 5px 0 5px 20px;
    position: static;
  }

  .nav-modal .new-btn {
    all: initial;
  }

  .nav-modal .new-btn {
    font-size: 20px;
    padding: 5px 0 5px 20px;
    color: #555555;
    font-family: serif;
    display: block;
    cursor: pointer;
  }

  .nav-modal .new-btn:hover {
    background-color: #dddddd;
  }

  /* wrapper */

  .poke {
    width: 23.5%;
    height: 716px;
    padding: 10px;
    vertical-align: top;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    display: inline-block;
  }

  #center {
    width: 47.7%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
  }

  .center-box {
    height: 355px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
  }

  #result {
    height: auto;
    margin-top: 30px;

  }

  /* 攻撃側 */

  .poke-title {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: solid 2px #dddddd;
    color: #555555;
    display: flex;
  }

  .form-title {
    margin-left: 10px;
    font-size: 25px;
  }

  .poke-btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 0 0 auto;
  }

  .btn-pre {
    margin-right: 10px;
  }

  .poke-form {
    color: #555555;
    padding: 0 10px;
  }

  .form-label {
    font-size: 11px;
  }

  .label-left {
    display: inline-block;
  }

  .label-right {
    font-family: serif;
    text-align: right;
    display: inline-block;
    float: right;
  }

  .poke-name-label {
    font-size: 13px;
  }

  .form-main {
    font-size: 24px;
    border-bottom: solid 1px #dddddd;
    text-align: center;
    clear:both;
  }

  .form-box {
    margin: 15px 0 0;
    cursor: pointer;
  }

  /* ポケモンモーダル */

  .modal {
    position :fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
    padding: 20px 30px 40px;
    border-radius: 10px;
    z-index: 13;
    height: auto;
    overflow: scroll;
    display: none;
  }

  .search-form {
    font-size: 20px;
    width: 100%;
    padding: 5px;
    font-family: serif;
    border: 0;
    border-bottom: solid 1px #dddddd;
    box-sizing: border-box;
  }

  .search-form:focus {
    outline: none;
    border-bottom: solid 1px #555555;
  }

  .btn-close {
    text-align: right;
  }

  .modal-btn-close {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
    display: none;
  }

  .fa-times {
    background-color: rgba(0, 0, 0, 0);
    padding: 4px 8px;
    border-radius: 15px;
    color: #555555;
    display: inline-block;
    cursor: pointer;
    transition: all 1.0s;
  }

  .fa-times:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .select-item {
    font-size: 18px;
    cursor: pointer;
    padding: 3px;
    border-bottom: solid 1px #ffffff;
  }

  .select-item:hover {
    border-bottom: solid 1px #dddddd;
  }

  /* 数字フォーム */
  .poke-attack-down, .poke-attack-up {
    cursor: default;
    position: relative;
  }

  .box-left {
    width: 46%;
    display: inline-block;
    cursor: pointer;
  }

  .box-right {
    width: 46%;
    margin: 0 0 0 4.9%;
    display: inline-block;
    cursor: pointer;
  }

  .input-number {
    font-size: 19px;
    width: 40px;
    font-family: serif;
    padding: 0;
    border: 0;
    color: #555555;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
  }

  .input-number:focus {
    outline: none;
  }

  #individual {
    width: 23px;
  }

  .poke-real {
    cursor: default;
  }

  .poke-real-main {
   font-size: 20px;
   padding: 4px 0 2px;
  }

  .poke-rank {
    width: 46%;
  }

  #item-attack, #item-block {
    font-size: 18px;
    padding: 1px 0;
  }

  #skill {
    font-size: 18px;
    padding: 1px 0;
  }

  #skill-detail {
    font-size: 18px;
  }

  #characteristic-attack, #characteristic-block {
    font-size: 18px;
    padding: 1px 0;
  }

  .parent-dropdown {
    position: relative;
  }

  .dropdown {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border: solid 1px #3097e6;
    border-top: 0;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    position: absolute;
    overflow: scroll;
    display: none;
  }

  .rank-dropdown {
    height: 150px;
  }

  .item-dropdown {
    height: 253px;
  }

  .block-item-dropdown {
    height: 113px;
  }

  .skill-dropdown {
    height: 600px;
    left: 300px;
    top: -370px;
    border-top: solid 1px #3097e6;
  }

  .characteristic-dropdown {
    height: auto;
  }

  .format-dropdown {
    height: 61px;
  }

  .weather-dropdown {
    height: 141px;
  }

  .field-dropdown {
    height: 141px;
  }

  .skill-times-dropdown {
    height: auto;
  }

  .skill-detail-dropdown {
    height: 57px;
  }

  .chara-detail-dropdown {
    height: 113px;
  }

  .dropdown-icon {
    font-size: 15px;
    margin: 7px 7px 0 0;
    float: right;
  }

  .fa-sort-up {
    margin-top: 13px;
  }

  .dropdown-item {
    font-size: 20px;
    font-family: serif;
    text-align: center;
  }

  .correction-dropdown .dropdown-item {
    padding: 2px 16px 1px 0px;
  }

  .rank-dropdown .dropdown-item {
    padding: 2px 18px 1px 0;
  }

  .item-dropdown .dropdown-item {
    font-size: 18px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .skill-dropdown .dropdown-item {
    font-size: 18px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .characteristic-dropdown .dropdown-item {
    font-size: 17px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .weather-dropdown .dropdown-item {
    font-size: 18px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .field-dropdown .dropdown-item {
    font-size: 16px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .skill-detail-dropdown .dropdown-item {
    font-size: 18px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .chara-detail-dropdown .dropdown-item {
    font-size: 18px;
    height: 25px;
    padding: 2px 20px 1px 0;
  }

  .dropdown-item:hover {
    background-color: rgba(48, 151, 230, 0.15);
  }

  .skill-parameter {
    color: #555555;
  }

  .skill-on, .skill-double {
    height: 33px;
    font-size: 14px;
    text-align: center;
    display: none;
  }

  .skill-double .swich-box {
    padding: 0 5px;
  }

  .skill-on .swich-box {
    padding: 0 5px;
  }

  .skill-power {
    display: none;
  }

  .skill-times {
    display: none;
  }

  .skill-detail {
    display: none;
  }

  .skill-double {
    display: none;
  }



  .chara-on {
    font-size: 14px;
    text-align: center;
    display: none;
  }

  .chara-on .swich-box {
    padding: 0 5px;
  }

  .chara-detail {
    display: none;
  }

  /* condition */
  .condition-center {
    width: 38%;
    margin: 0 1%;
    display: inline-block;
  }

  .condition-side {
    width: 28.6%;
    vertical-align: top;
    display: inline-block;
  }

  .btn-change-box {
    padding: 3px 10px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 7px;
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
  }

  .btn-change-box:hover {
    background-color: #dddddd;
    border: solid 2px #eeeeee;
  }

  .btn-change-box:active {
    background-color: #eeeeee;
  }

  .btn-box {
    display: inline-block;
  }

  #format {
    font-size: 17px;
  }

  #field {
    font-size: 16px;
  }

  .condition-side .form-main {
    font-size: 14px;
    border-bottom: 0;
  }

  .condition-side .form-label {
    margin-bottom: 10px;
  }

  .swich {
    padding: 5px 0px;
    border-radius: 15px;
    border: solid 1px #dddddd;
  }

  .swich-off {
    color: #cccccc;
    background-color: #ffffff;
  }

  .swich:active {
    background-color: #eeeeee;
    padding: 2px 0;
  }

  .swich-on {
    color: #444444;
    background-color: #dddddd;
  }

  .swich-box {
    height: 40px;
  }

  .swich-double {
    display: none;
  }

  .gravity-main {
    font-size: 15px;
    padding: 5px 5px 0;
    text-align: center;
  }

  .gravity .swich {
    padding: 4px 0;
  }

  /* result */
  #result .form-title {
    cursor: pointer;
  }

  .result-main {
    font-size: 18px;
    padding-left: 5px;
    text-align: left;
  }

  .damage-left {
    width: 55%;
    color: #666666;
    display: inline-block;
  }

  .damage-right {
    width: 43%;
    color: #666666;
    display: inline-block;
  }

  .result-damage span{
    color: #555555;
  }


  .graph {
    height: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #cccccc;
    position: relative;
  }

  .graph-confirm {
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background-color: #999999;
    position: absolute;
    z-index: 1;
  }

  .graph-random {
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background-color: #666666;
    position: absolute;
    z-index: 2;
  }

  .detail-icon .dropdown-icon{
    margin: 0 2px 0;
  }

  .detail-main {
    font-size: 13px;
    padding: 6px 3px 0;
    display: none;
  }

  .detail-item {
    padding: 4px 0;
    width: 31px;
    text-align: center;
    border: solid 1px #555555;
    border-left: 0;
    display: inline-block;
  }

  .detail-left {
    border-left: solid 1px #555555;
    display: inline-block;
  }

  .detail-right {
    border-left: solid 1px #555555;
    display: inline-block;
    margin-left: 0;
  }

  .detail-icon {
    font-size: 12px;
  }

 /* ダイマックスボタン */
  .kougeki {
    cursor: pointer;
  }

  .bougyo {
    cursor: pointer;
  }

  /* ログインモーダル */
  .login-modal {
    position: fixed;
    top: 20%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
    padding: 20px 30px 20px;
    display: none;
    z-index: 25;
  }

  .login-close-btn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .login-label {
    font-size: 15px;
  }

  .login-main {
    border-bottom: solid 1px #dddddd;
    margin: 0 15px 25px;
    text-align: center;
  }

  .input-login {
    font-size: 24px;
    width: 300px;
    font-family: serif;
    padding: 0;
    border: 0;
    color: #555555;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
  }

  .input-login:focus {
    outline: none;
  }

  .login-btn-box {
    margin-top: 40px;
    text-align: center;
  }

  .login-btn {
    padding: 8px 50px;
    font-size: 20px;
    border: solid 1px #dddddd;
    display: inline-block;
    cursor: pointer;
    color: #333333;
  }

  .login-btn:hover {
    border: solid 1px #2b86cc;
  }

  .login-btn:active {
    background-color: #dddddd;
  }

  .login-btn span {
    display: inline-block;
    transition: 0.5s;
  }

  .login-btn:hover span {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }

  .login-new {
    margin: 40px 0 0 40px;
  }

  .new-label {
    display: inline-block;
  }

  .new-btn {
    display: inline-block;
    margin-left: 10%;
    padding: 5px 30px;
    color: #333333;
    background-color: #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }


  .new-btn:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  /* アカウント登録 */

  .new-container {
    padding: 150px 0 0;
    text-align: center;
  }

  .new-wrapper {
    width: 500px;
    display: inline-block;
  }

  .new-title {
    font-size: 40px;
    color: #333333;
    padding-bottom: 45px;
  }

  .new-explain {
    font-size: 20px;
    padding-bottom: 45px;
  }

  .new-form {
    text-align: left;
  }

  .new-form .login-main {
    border-bottom: solid 1px #555555;
  }

  .submit-box {
    text-align: center;
  }

  .user-btn {
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    border: solid 1px #555555;
    display: inline-block;
    cursor: pointer;
    transition: all 0.8s;
  }

  .user-btn:hover {
    background-color: #333333;
    color: #ffffff;
  }

  /* マイン登録 */
  .mine-view {
    font-size: 28px;
    padding: 5px;
    margin-bottom: 2px;
    border-bottom: solid 1px #cccccc;
    text-align: center;
    cursor: pointer;
  }

  .mine-view:hover {
    border-bottom: solid 1px #555555;
  }

  .mine-wrapper {
    width: 700px;
    display: inline-block;
    text-align: left;
  }

  .mine-wrapper .new-title {
    text-align: center;
  }

  .mine-main {
    display: inline-block;
  }

  .mine-form .login-box {
    margin-bottom: 40px;
  }

  .mine-form .login-main {
    border-bottom: solid 1px #555555;
  }

  .mine-form .login-label {
    font-size: 20px;
    text-align: left;
  }

  .mine-form .input-login {
    font-size: 28px;
  }

  .mine-pokemon {
    cursor: pointer;
  }

  .pokemon-value {
    font-size: 28px;
    height: 40px;
  }

  .pokemon-id-form {
    display: none;
  }

  .mine-name .input-login {
    width: 500px;
  }

  .mine-parameter {
    font-size: 28px;
  }

  .parameter-box {
    height: 60px;
  }

  .parameter-label {
    width: 20%;
    height: 43px;
    vertical-align: top;
    display: inline-block;
  }

  .parameter-title .parameter-base {
    border: 0;
  }

  .parameter-title .parameter-effort {
    border: 0;
  }

  .parameter-title .parameter-real {
    border: 0;
  }

  .parameter-base {
    vertical-align: top;
    width: 20%;
    height: 43px;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px #555555;
    box-sizing: border-box;
  }

  .parameter-effort {
    vertical-align: top;
    width: 20%;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px #555555;
    cursor: pointer;
  }

  .parameter-real {
    vertical-align: top;
    height: 43px;
    width: 20%;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px #555555;
  }

  .effort-form {
    font-size: 28px;
    width: 50px;
    font-family: serif;
    padding: 0;
    border: 0;
    color: #555555;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
  }

  .effort-form:focus {
    outline: none;
  }

  .mine-nature {
    margin-top: 40px;
    cursor: pointer;
  }

  .nature-value {
    font-size: 28px;
    height: 40px;
  }

  .nature-id-form {
    display: none;
  }

  .nature-correction {
    display: none;
  }

  .nature-tab {
    padding-top: 30px;
  }

  .tab-l {
    margin-top: 5px;
  }

  .tab-i {
    width: 18.9%;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
    cursor:pointer;
    border: solid 1px #dddddd;
    transition: 0.5s;
    box-sizing: border-box;
  }

  .tab-i:hover {
    background-color: #dddddd;
  }

  .mine-submit {
    text-align: center;
  }

  .mine-form-hide {
    display: none;
  }

  .mine-destroy {
    margin-top: 40px;
    text-align: center;
  }

  .destroy-btn {
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    border: solid 1px #555555;
    display: inline-block;
    cursor: pointer;
    transition: all 0.8s;
  }

  .destroy-btn:hover {
    background-color: #333333;
    color: #ffffff;
  }

  /* マインモーダル */
  .mine-modal {
    position: fixed;
    top: 20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
    padding: 20px 30px 20px;
    display: none;
    z-index: 18;
    overflow: scroll;
  }

  .mine-close-btn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 17;
    background-color: rgba(0, 0, 0, 0.6);

  }

  .mine-search-form {
    padding-bottom: 5px;
    border-bottom: solid 1px #dddddd;
  }

  .mine-search {
    font-size: 22px;
    font-family: serif;
    width: 100%;
    padding: 0;
    border: 0;
    color: #555555;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
  }

  .mine-search:focus {
    outline: none;
  }

  .mine-select li {
    font-size: 18px;
  }

  .mine-item {
    font-size: 18px;
    cursor: pointer;
    padding: 3px;
    border-bottom: solid 1px #ffffff;
  }

  .mine-item:hover {
    border-bottom: solid 1px #dddddd;
  }

  .mine-select span {
    display: none;
  }

  #attack-mine-id {
    display: none;
  }

  #block-mine-id {
    display: none;
  }

  .number-barrier {
    width: 100%;
    height: 128px;
    position: absolute;
    z-index: 100;
    cursor: default;
  }

  .poke-nickname {
    cursor: default;
  }

  .poke-nickname .form-main {
    font-size: 16px;
  }

/* 使い方 */

.how-title {
  margin-top: 10px;
  font-size: 22px;
}

.how-main {
  padding: 5px 10px;
  color: #555555;
  font-size: 15px;
}

.new-title-mitaiou {
  margin-top: 50px;
}

/* 1000から500 */

@media (max-width: 1000px ) {

  /* toppages#index */

  #left-poke {
    margin-right: 2.7%;
  }

  #center {
    width: 100%;
    margin: 30px 0 0;
  }

  .poke {
    width: 48%;
  }

  .btn-menu {
    margin-right: 30px;
  }

  .modal {
    right: 5%;
    left: 5%;
    top: 15%;
    bottom: 15%;
  }

  .login-modal {
    right: 5%;
    left: 5%;
    top: 20%;
    bottom: 10%;
  }

  .mine-modal {
    right: 5%;
    left: 5%;
    top: 15%;
    bottom: 15%;
  }
}

@media (max-width: 700px) {
  .mine-wrapper {
    width: 480px;
  }

  .parameter-label {
    width: 18%;
  }

  .tab-i {
    font-size: 14px;
  }

}

@media (max-width: 500px ) {
  .poke {
    width: 100%;
  }

  #right-poke {
    margin-top: 30px;
  }

  #center {
    width: 100%;
  }

  .title {
    display: none;
  }

  .login {
    display: none;
  }

  .logout {
    display: none;
  }

  .btn-menu {
    padding-bottom: 6px;
    margin-right: 0%;
  }

  .condition-left, .condition-right {
    width: 48.2%;
  }

  .condition-left {
    margin-right: 1%;
  }

  .condition-center {
    width: 100%;
  }

  #condition {
    height: auto;
  }

  .damage-left {
    width: 100%;
  }

  .damage-right {
    width: 100%;
  }

  .poke {
    height: auto;
    padding-bottom: 20px;
  }

  .skill-dropdown {
    left: 0;
    top: 53px;
    border-top: solid 1px #3097e6;
  }

  .login-new {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  .new-label {
    margin-bottom: 10px;
  }

  .new-explain {
    font-size: 17px;
  }

  .new-wrapper {
    width: 300px;
  }

  .new-title {
    font-size: 35px;
  }

  .pokemon-value {
    font-size: 25px;
  }

  .nature-value {
    font-size: 20px;
  }

  .mine-name .input-login {
    font-size: 20px;
    width: 100%;
  }

  .mine-pokemon .login-label {
    font-size: 16px;
  }

  .mine-name .login-label {
    font-size: 16px;
  }

  .flash {
    padding-left: 60px;
    padding-right: 60px;
  }

  .mine-wrapper {
    width: 280px;
  }

  .parameter-label {
    font-size: 20px;
    height: 30px;
  }

  .parameter-base {
    font-size: 20px;
    width: 19%;
    height: 30px;
  }

  .parameter-effort {
  font-size: 20px;
  width: 19%;
  height: 30px;
  }

  .parameter-real {
  font-size: 20px;
  width: 19%;
  height: 30px;
  }

  .parameter-title .parameter-base {
    font-size: 16px;
  }

  .parameter-title .parameter-effort {
    font-size: 16px;
  }

  .parameter-title .parameter-real {
    font-size: 16px;
  }

  .effort-form {
    font-size: 20px;
  }

  .tab-i {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
    border: solid 0px #dddddd;
    transition: 0.5s;
    box-sizing: border-box;
  }

  header {
    box-shadow: 0px rgba(0,0,0,0);
  }




}
