<header>
  <div class="header-left">
    <div class="title btn-header">名前</div>
  </div>
  <div class="header-right">
    <div class="login btn-header">ログイン</div>
    <div class="btn-header btn-menu"><i class="fas fa-bars"></i></div>
  </div>
</header>
